body {
  font-family: "맑은 고딕", "Dotum", sans-serif;
  font-size: 15px;
  text-align: center;
  cursor: default;
}
input {
  font-family: "맑은 고딕", "Dotum", sans-serif;
  font-size: 13px;
  text-align: center;
  overflow: visible;
}
a, .table_toggle_button, .site_button, .toonlist_site, .refreshBtn, #login, #join, #artist_other>span {
  color: #0066CC;
}
.table_toggle_button {
  float: left;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.site_button {
  float: right;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
#main_area {
  margin: 5px;
}
#main_title {
  font-size: large;
  cursor: pointer;
}
#loading {
  font-size: large;
  font-weight: bold;
}
.toonlist_site {
  cursor: pointer;
  margin: 10px;
}
.refreshBtn {
  float: right;
  font-weight: normal;
  cursor: pointer;
}
.clear {
  clear: both;
  height: 40px;
}
#title_area {
  font-size: 17px;
}
#title {
  padding: 15px 0px 15px 0px;
  background-color: #EAEAEA;
}
#content_area {
  clear: both;
}
#toon_date {
  float: right;
}
#toonBGM {
  float: left;
  position: absolute;
}
#toonBGM>span {
  color: gray;
  cursor: pointer;
}
#music_player {
  display: none;
}
hr[id^=anchor_] {
  width: 80%;
  height: 1px;
  border: 0px;
}
#login_area {
  display: inline;
  position: absolute;
  right: 10px;
}
#login_area input[type=text], #login_area input[type=password] {
  width: 50px;
  font-size: 12px;
}
#login_area span {
  font-size: 12px;
  cursor: pointer;
}
#remote {
  border-spacing: 1px;
  position: absolute;
  right: 5px;
  font-size: 14px;
}
#remote input {
  width: 55px;
  font-size: 12px;
}
#remote input[type=text] {
  width: 30px;
}
#remote .arrowBtn {
  width: 25px;
  padding: 0px;
}
#remote small {
  font-size: 12px;
}
#remote hr {
  margin: 3px;
}
#remote #shortcutBtn {
  cursor: pointer;
}
#remote .shortcut {
  display: none;
}
small {
  color: gray;
}
img {
  display: block;
  margin: 0 auto;
}
.toonlist {
  width: 100%;
}
.toonlist>div {
  float: left;
  width: 14.2%;
}
.current_toon, .finished_toon {
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 1px 0px 1px 0px;
  cursor: default;
}
.current_toon:nth-child(odd), .finished_toon:nth-child(odd) {
  background-color: #FAFAFA;
}
.current_toon:nth-child(even), .finished_toon:nth-child(even) {
  background-color: #EAEAEA;
}
.current_toon.saved_update, .finished_toon.saved_update {
  background-color: #DD8888;
}
.current_toon.saved_finish {
  background-color: #88DD88;
}
.finished_toon.saved_finish {
  background-color: #888888;
}
.current_toon:hover, .finished_toon:hover, #artist_otherlist div:hover {
  background-color: #ABC;
}
#artist_area {
  width: 85%;
  clear: both;
  margin: 0 auto;
}
#artist_info tr:first-child>td>div {
  text-align: center;
  width: 100px;
  margin: 0px 10px;
  cursor: pointer;
  background-color: #EAEAEA;
}
#artist_blog {
  text-align: center;
}
#artist_other {
  text-align: center;
}
#artist_other>span {
  cursor: pointer;
  text-decoration: underline;
}
#artist_otherlist {
  text-align: center;
  display: none;
}
#artist_otherlist>div {
  cursor: default;
  margin: 3px 0px;
  background-color: #EAEAEA;
}
#writer_info {
  width: 85%;
  text-align: left;
  clear: both;
  margin: 0 auto;
}
#writer_info>div {
  padding: 2px 15px;
  background-color: #EAEAEA;
}
